/* Header Styling */
header {
  background: linear-gradient(0deg, #212129, #2d2d39);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
  header h1 {
    margin: 0;
    font-size: 1.8rem; /* Adjust font size */
    color: #ffffff; /* Ensure text stands out against gradient */  }

body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Main Layout */
#main-container {
  background-color: #141416;
  z-index: 0; /* Ensure it's behind the header */
}

/* Sidebar Styling */ /*#0c0d0f*/
#sidebar-left {
  background-color: #0c0d0f;
  height: 100vh;
  overflow-y: auto;
}

/* Graph/Network Section */
#network {
  flex-grow: 1;
  padding: 10px;
  height: 600px;
  background-color: #fff;
  border-radius: 4px;
}
  .list-group-item {
    background-color: #1e5e9f;
    color: white;
  }

#result{
  background-color: #ffffff;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

#footer{
  position: fixed;
}