/* Header Styling */
header {
  background: linear-gradient(0deg, #212129, #2d2d39);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* Header Styling */
header h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.8rem; /* Adjust font size */
  color: #ffffff; /* Ensure text stands out against gradient */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Main Layout */
#main-container {
  background-color: #141416;
  z-index: 0; /* Ensure it's behind the header */
}

/* Sidebar Styling */ /*#0c0d0f*/
#sidebar-left {
  background-color: #0c0d0f;
  height: 100vh;
  overflow-y: auto;
  font-weight: 300;
}

#sidebar-button {
  background: linear-gradient(0deg, #21212a, #2d2d39);
  color: #ffffff;
  border: none;
  transition: background 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effect */
  padding: 10px;
  font-size: 18px;
  width: auto;
  height: auto;
  margin-bottom: 50px;
}
#sidebar-button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #332f97, #2a2950);
  transform: scale(1.05); /* Slightly increase size for visual feedback */
}
#sidebar-left h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold; /* Bold weight */
}

/* Text input styles */
#stateName,
#fromState,
#symbol,
#toState,
#testString {
  border: none;
  background-color: #141416;
  color: #ffffff;
}

#stateName::placeholder,
#fromState::placeholder,
#symbol::placeholder,
#toState::placeholder,
#testString::placeholder {
  color: #606060;
  opacity: 1;
}

/* Graph/Network Section */
#network {
  margin: 10px;
  flex-grow: 1;
  height: 600px;
  background-color: #201f3d;
  border-radius: 4px;
}

#result {
  background-color: #343434;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  margin-top: 25px;
  height: 45px;
}

#footer {
  position: fixed;
}


/* Custom Checkbox Styles */
.custom-checkbox {
  display: flex;
  align-items: center; /* Align checkbox and label vertically */
}
.custom-checkbox .form-check-input {
  width: 30px; /* Size of the checkbox */
  height: 30px;
  border: 2px solid #606060; /* Border color */
  background-color: #141416; /* Background color */
  appearance: none; /* Remove default checkbox styling */
  cursor: pointer; /* Add pointer cursor */
}

.custom-checkbox .form-check-input:checked {
  background-color: #BF1641; /* Background when checked */
  border-color: #BF1641; /* Border when checked */
}

.custom-checkbox .form-check-input:hover {
  border-color: #921131; /* Change border on hover */
}

.custom-checkbox .form-check-label {
  margin-left: 10px; /* Space between checkbox and label */
  color: #ffffff; /* Label color */
}